// 字体
$font-family-base: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,"微软雅黑",Arial,sans-serif;
// 背景颜色
$bg-color: #F8F8F8;
// 主题色
$primary: #3599E9!default;
// 主题字
$primary-font: #1FAFF6!default;
// 辅助色
$danger: #EBF9FF!default;
// 默认的资源存放路径
$iconImgUrl:'../assets/img';
// border color
$border-color: #DEDEDE!default;
// 字体颜色
$font-color: #555;

$red: #FF4343;
// top高度
$top-height: 64px;
$side-width: 160px;
