 //覆盖一些element-ui样式
 .block-checkbox {
   display: block;
 }

 .operation-container {
   .cell {
     padding: 10px !important;
   }
   .el-button {
     &:nth-child(3) {
       margin-top: 10px;
       margin-left: 0px;
     }
     &:nth-child(4) {
       margin-top: 10px;
     }
   }
 }

 .el-upload {
   input[type="file"] {
     display: none !important;
   }
 }

 .el-upload__input {
   display: none;
 }

 .cell {
   .el-tag {
     margin-right: 8px;
   }
 }

 .small-padding {
   .cell {
     padding-left: 8px;
     padding-right: 8px;
   }
 }

 .status-col {
   .cell {
     padding: 0 10px;
     text-align: center;
     .el-tag {
       margin-right: 0px;
     }
   }
 }

 //暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
 .el-dialog {
   transform: none;
   left: 0;
   position: relative;
   margin: 0 auto;
 }

 //文章页textarea修改样式
 .article-textarea {
   textarea {
     padding-right: 40px;
     resize: none;
     border: none;
     border-radius: 0px;
     border-bottom: 1px solid #bfcbd9;
   }
 }

 //element ui upload
 .upload-container {
   .el-upload {
     width: 100%;
     .el-upload-dragger {
       width: 100%;
       height: 200px;
     }
   }
 }
 //物银通专设样式
 .el-input__inner {
  //  background-color: #000;
   color: #ccc;
 }
.el-input-group__append, .el-input-group__prepend {
  background-color: #20a0ff;
  color: white;
}
.el-table {
  border: 0;
}
.el-table tr,.el-table::after, .el-table::before {
  background-color: #242A48;
}
.el-table__row {
  background-color: #272D4A;
  color: white;
}
.el-table__body tr.current-row>td {
  background-color: #1C213E;
}
.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
  background-color: #333953;
  color: #B4BAC6;
}
.el-table th {
  background-color: #333953;
}
.el-table__body tr:hover>td{
  background-color: #1C213E !important;
 }
 .el-table--border td, .el-table--border th {
   border-right: 0;
 }
 .el-table td, .el-table th.is-leaf {
   border-bottom: 1px solid black;
 }
 // el-menu样式修改
 .el-menu {
  //  background-color:
 }
// radio单选框的样式
.el-radio, .el-checkbox {
  color: #eee;
}
